.Home{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;

}

.Home-text-field{
    flex: 2;
    background-color: #ececec;
}

.Home-text{
    text-align: left;
    margin-left: 20px;
}

.Home-LeftBar{
    flex: 1;
}

.Home-RightBar{
    flex: 3;
}